@media (max-width: 1500px) {

  .footer__text {
    display: none;
  }
}

@media (max-width: 1400px) {
  .intro__content {
    --offsets: 0;
    flex-direction: column;
    align-items: center;
  }

  .intro__content--left {
    max-width: 100%;
  }

  .intro__content--right {
    max-width: 100%;
  }

  .intro__benefits {
    max-width: 100%;
  }

}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .section-offset {
    margin-bottom: 36px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .header {
    margin-bottom: 40px;
    padding: 26px 0px;
  }

  .header__list {
    gap: 60px;
    margin-right: 106px;
  }

  .hero {
    padding: 160px 77px;
    background-image: url(../img/hero-1024.png);
  }

  .hero__descr {
    max-width: 660px;
    margin-bottom: 60px;
    font-size: 20px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 60px;
    max-width: 770px;
  }

  .intro {
    margin-bottom: 76px;
    flex: content;
  }

  .intro__descr {
    margin-bottom: 60px;
  }

  .intro__content {
    --offsets: 0;
    flex-direction: column;
    align-items: center;
  }

  .intro__content--left {
    min-height: 640px;
    background-image: url("../img/intro-1024.png");
  }

  .intro__benefits {
    padding: 63px 150px 64px 75px;
    align-items: center;
  }

  .stages {
    margin-bottom: 81px;
  }

  .stages__title {
    margin-bottom: 34px;
  }

  .stages__content {
    margin-right: 50px;
  }

  .stages__text {
    margin-bottom: 24px;
  }

  .stages__contain::after {
    background-image: url("../img/stages-1024.png");
  }

  .questions {
    margin-bottom: 77px;
  }

  .questions__list {
    --offsets: 0;
    gap: 30px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__logo {
    width: 224px;
    margin-bottom: 17px;
  }

  .footer__text {
    display: none;
  }

  .footer__list {
    width: 251px;
  }

  .footer__content--left {
    max-width: 350px;
    margin-right: 132px;
  }

  .footer__btn {
    width: 240px;
    padding: 19px 36px;
    margin-right: 18px;
  }

  .form__input {
    max-width: 541px;
  }

  .form__textarea {
    padding: 21px 24px;
    max-width: 541px;
  }
}

@media (max-width: 1050px) {
  .footer__btn {
    display: block;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 17px 0px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__list {
    gap: 40px;
    margin-right: 43px;
  }

  .header__link {
    font-size: 16px;
    font-weight: 700;
  }

  .hero {
    padding: 158px 40px;
    background-image: url(../img/hero-992.png);
    border-radius: 24px;
    min-height: 662px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__descr {
    font-size: 18px;
  }

  .intro {
    margin-bottom: 81px;
  }

  .intro__content--left {
    min-height: 650px;
    background-image: url("../img/intro-992.png");
    border-radius: 24px;
  }

  .intro__descr {
    margin-bottom: 54px;
  }

  .planning {
    padding: 34px 40px;
    border-radius: 25px;
  }

  .intro__content {
    --offsets: 0;
    position: relative;
  }

  .intro__benefits::before {
    min-width: 114px;
    height: 99px;
    margin-right: 17px;
  }

  .intro__content--right {
    max-width: 100%;
  }

  .intro__text {
    max-width: 366px;
  }

  .intro__benefits {
    padding: 36px 42px 30px 37px;
    border-radius: 25px;
    gap: 0;
  }

  .benefits-descr {
    max-width: 450px;
  }

  .stages__contain {
    flex-direction: column;
    width: 100%;
  }

  .stages__contain::before {
    content: "";
    background-size: cover;
    background-image: url(../img/stages-992.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 284px;
    margin-bottom: 39px;
    border-radius: 16px;
  }

  .stages__content {
    margin: 0;
    max-width: 667px;
  }

  br {
    display: none;
  }

  .questions__item {
    padding: 34px 39px;
  }

  .questions {
    margin-bottom: 81px;
  }



  #request {
    flex-direction: column-reverse;
  }

  .footer__content--mid {
    margin: 0;
    margin-bottom: 52px;
  }

  .form__input {
    max-width: 541px;
  }

  .footer__btn {
    display: inline;
  }

  .footer__list {
    display: none;
  }

  .form__textarea {
    max-width: 541px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .social__item--ok {
    margin-right: 21px;
  }
}

@media (max-width: 750px) {
  .header {
    padding-bottom: 40px;
    border-radius: 0px 0px 16px 16px;
    margin-bottom: 19px;
  }

  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__nav {
    overflow-x: scroll;
    padding-top: 18px;
    order: 3;
    width: 100%;
  }

  .header__nav::-webkit-scrollbar {
    display: none;
  }

  .header__list {
    gap: 25px;
  }

  .section-offset {
    margin-bottom: 58px;
  }
  .section__descr {
    line-height: 28px;
  }

  .hero__title {
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .hero__descr {
    margin-bottom: 32px;
  }

  .section__title {
    font-size: 24px;
  }

  .section__descr {
    font-size: 14px;
  }

  .intro__content {
    gap: 1;
    align-items: flex-start;
  }

  .footer__btn {
    display: block;
  }
}



@media (max-width: 576px) {
  .intro__content--left {
    min-height: 350px;
    background-image: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .intro__content--left::before {
    content: "";
    min-width: 290px;
    width: 100%;
    min-height: 200px;
    background-image: url(../img/intro-576.png);
    background-size: cover;
    border-radius: 16px;
  }

  .intro__descr {
    margin-bottom: 14px;
  }

  .intro__text {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .intro__btn {
    min-height: 40px;
    color: var(--color-default);
    padding: 8px 42px;
    font-size: 12px;
    border-radius: 8px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .intro__btn:focus {
    background-color: var(--color-default);
    color: var(--color-white);
  }

  .intro__btn:active {
    background-color: var(--color-active);
    border: 3px solid var(--color-active);
    color: var(--color-white);
  }

  .planning {
    max-width: 290px;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    padding: 8px 0 1px 0;
  }

  .intro__benefits {
    flex-direction: column;
    border: none;
    padding: 0;
    align-items: flex-start;
  }

  .section__caption {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .intro__benefits::before {
    min-width: 64px;
    height: 47px;
    margin: 0;
    margin-bottom: 12px;
  }

  .consultation::before {
    background-image: url("../img/adv-2-320.svg");
  }

  .proffesional-team::before {
    background-image: url("../img/adv-3-320.svg");
  }

  .intro {
    margin-bottom: 50px;
  }

  .hero {
    padding: 60px 21px;
    background-image: url(../img/hero-576.png);
    border-radius: 16px;
    min-height: 308px;
    text-align: center;
  }

  .hero__descr {
    max-width: 100%;
    font-size: 12px;
  }

  .btn {
    padding: 13px 28px;
    font-size: 12px;
    border-radius: 8px;
  }

  .container {
    padding: 0 15px;
  }

  .stages__title {
    margin-bottom: 20px;
  }

  .stages__contain::before {
    background-image: url("../img/stages-576.png");
    min-height: 160px;
    margin-bottom: 21px;
  }

  .stages__caption {
    margin-bottom: 13px;
  }

  .btn--accent {
    min-height: 40px;
    padding: 12px 44px;
    margin-right: 6px;
  }

  .btn--transp {
    width: 117px;
    height: 41px;
  }

  .questions__caption {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .questions__title {
    margin-bottom: 20px;
  }

  .questions__item {
    padding: 0;
    border: none;
  }

  .footer__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .footer {
    padding: 30px 0 23px 0;
  }


  .footer__btn {

    margin: 0 auto;
    padding: 13px 9px;
    width: 162px;
    margin-bottom: 11px;
  }

  .footer__content--left {
    margin: 0 auto;
  }

  .form-check {
    display: inline;
    margin: 0;
    padding-left: 5px;
  }

  .form {
    margin-bottom: 25px;
  }

  .footer__logo {
    display: block;
    width: 131px;
    margin: 0 auto;
    margin-bottom: 6px;
  }

  .footer__content--mid {
    margin-bottom: 41px;
  }

  .social {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .social__item svg {
    display: flex;
    width: 40px;
    min-height: 40px;
  }
}
